* {
    white-space: nowrap;
}

body {
    margin: 10px;
    width: 300px;
}

input[type="text"] {
    width: 80%;
}

.bookmark {
    padding: 2px;
}

.sub {
    margin-left: 10px;
}

.folder:hover {
    background: #eee;
}

.folder:active {
    background: #b7b7b7;
}

.title {
    font-size: 20px;
    margin: 10px 0;
}
