<!DOCTYPE html>
<html>
<head>
    <script src="/libraries/jquery/jquery.js">
    </script>
    <script src="/libraries/vue/vue.js">
    </script>
    <link rel="stylesheet" href="./popup.css">
</head>
<body>
    <div id="bookmark-manager">
        <div><h1 class="title">{{ this.bookmark ? "Edit bookmark" : "New bookmark" }}</h1></div>
        <div class="input-row"><h2 class="row-title">Name</h2>
            <input id="name" type="text" title="Name" v-model="title"></div>
        <!--<div class="input-row"><h2>Url</h2>
            <input id="url" type="text" disabled title="Url" v-model="url"/></div>-->
        <div class="input-row">
            <h2 class="row-title">Folder</h2>
            <div class="search-row">
                <input id="searchbar" type="text" title="Folder" v-model="selectedFolder.title"
                    @keyup.enter="folderSelect($event)"
                    @keyup="search($event)"/>
                <div class="dropdown">
                    <bookmark-folder
                        v-for="(folder, index) in folderList"
                        v-bind:key="index"
                        v-bind:folder="folder"
                        @select="onSelection"></bookmark-folder>
                </div>
            </div>
        </div>
        
        <!--
        <b>id: </b><input id="id" type="text" disabled title="id" v-model="selectedFolder.id"/><br>
        <b>err: </b><textarea id="err" disabled title="err" v-model="err" style="font-size:9px"></textarea><br>
        -->

        <!--todo: make it a dropdown (https://www.w3schools.com/howto/howto_js_filter_dropdown.asp)-->
        

        <div class="button-row">
            <input class="button" type="button" value="Remove" @click="remove">
            <input class="button done" type="button" value="Done" @click="done">
            <!--input type="button" value="Quick Save" @click="quickSave"-->
        </div>
    </div>

    <script type="module" src="bookmarkmanager.js"></script>
</body>
</html>
