<!DOCTYPE html>
<html>
<head>
    <script src="/libraries/jquery/jquery.js">
    </script>
    <script src="/libraries/vue/vue.js">
    </script>
    <link rel="stylesheet" href="/css/popup.css">
</head>
<body>
    <div id="bookmark-manager">
        <div class="title">Edit bookmark</div>
        <b>Name: </b><input id="name" type="text" title="Name" v-model="title"><br>
        <b>Url: </b><input id="url" type="text" disabled title="Url" v-model="url"/><br>
        <b>Folder: </b><input id="searchbar" type="text" title="Folder" v-model="selectedFolder.title"/><br>
        <!--
        <b>id: </b><input id="id" type="text" title="id" v-model="selectedFolder.id"/><br>
        <b>err: </b><textarea id="err" disabled title="err" v-model="err" style="font-size:9px"></textarea><br>
        -->

        <hr>
        <!--todo: make it a dropdown (https://www.w3schools.com/howto/howto_js_filter_dropdown.asp)-->
        <bookmark-folder
            v-for="(folder, index) in folderList"
            v-bind:key="index"
            v-bind:folder="folder"
            @select="onSelection"></bookmark-folder>

        <div>
            <input type="button" value="Done" @click="done">
            <input type="button" value="Remove" @click="remove">
            <!--input type="button" value="Quick Save" @click="quickSave"-->
        </div>
    </div>

    <script type="module" src="bookmarkmanager.js"></script>
</body>
</html>
